.idea/
.vscode/

.cache
.pytest_cache/
__pycache__/
venv/
env/
etc/
var/

docker-compose.local.*

*.mo
*.pot
poc_scripts/

node_modules/
static/dist/js/
static/src/generated/
frontend/build/

settings_local.py

.coverage
